.hero {
    margin: 0 120px;
    margin-top: 270px;
}

.hero-text {
    color: #fff;
    font-size: 110px;
    font-weight: 600;
    line-height: 115px;
}

.hero-explore {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}

.hero-explore p {
    color: #292929;
    font-size: 20px;
    font-weight: 600;
}

.hero-dot-play {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.hero-dot {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange {
    background: orangered;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-play p {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

@media (max-width: 992px) {
    .hero {
        height: 100vh;
        padding: 40px 20px;
        margin-left: 0;
    }

    .hero-text {
        font-size: 80px;
        line-height: 75px;
    }

    .hero-explore {
        gap: 30px;
        padding: 15px 30px;
    }

    .hero-explore p {
        font-size: 16px;
    }

    .hero-dot-play {
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-dots {
        gap: 15px;
    }

    .hero-play {
        margin-top: 20px;
    }

    .hero-play p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 100vh;
        padding: 40px 0px;
        margin-left: 0;
    }

    .hero-text {
        font-size: 70px;
        line-height: 55px;
    }

    .hero-explore {
        gap: 20px;
        padding: 15px 30px;
    }

    .hero-explore p {
        font-size: 18px;
    }

    .hero-dot-play {
        margin-top: 40px;
    }

    .hero-play p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .hero {
        height: 100vh;
        padding: 40px 20px;
        margin-left: 0;
    }

    .hero-text {
        font-size: 65px;
        line-height: 45px;
    }

    .hero-explore {
        gap: 10px;
        padding: 15px 20px;
    }

    .hero-explore p {
        font-size: 16px;
    }

    .hero-dot-play {
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-dots {
        gap: 10px;
    }

    .hero-play p {
        font-size: 14px;
    }
}


